:root {
    --primary-color:#E7E5DF; 
    --secondary-color:#393E41; 
    --accent1-color:#44BBA4; 
    --accent2-color:#E7BB41;
    --accent3-color:#D3D0CB;

    --heading-font:"Gravitas One";
    --text-font:"Open Sans";
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box; 
}

body {
    font-family:var(--text-font);
    color:var(--secondary-color);
}

header, main, footer{
    width: 840px;
    margin: 0.5rem auto;
}

/* header formatting */
header {
    display: grid;
    grid-template-columns: repeat(87,1fr);
    grid-template-rows: repeat(14, 1fr);

    border: 2px solid var(--accent2-color);
    border-radius: 3px;

    background-color: var(--accent1-color);
    color: var(--primary-color);
    height: 8rem;
}

#header-logo{
    grid-column: 14 / span 10;
    grid-row: 3 / -3;
    border: 2px solid var(--accent2-color);
    border-radius: 25%;;
    width: 100%;
    height: 100%;
    object-fit:fill;
}

nav{
    grid-column: 32 / -5;
    grid-row: 6 / span 4;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

nav a{
    flex: 1 1 0px;
    padding: 1rem auto;
    text-align: center;
    text-decoration: none;
    background-color: var(--accent3-color);
    
    color: var(--secondary-color); 
    border: 2px solid var(--accent2-color);
    border-radius: 3px;
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
/* main formatting */
.socialmedia a{
    text-decoration: none;
}

.hero{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}
article{
    position: absolute;
    bottom: 1px;
    right: 5px;
    width: 80%;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color:var(--secondary-color);
    clear: left;
}

.hero article img{
    float: right;
    margin: 2px;
    width: 20%;
    height: auto;
    opacity: 1;
}

/* History Formatting */

#history{
    background-color: var(--accent1-color);

    border: 2px solid var(--accent2-color);
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#history-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo-history{
    width: auto;
    height: 100%;
}