:root{

    --dark-blue: #201a70;
    --black: #000000;
    --text-light:#FAF9F6;
    --standard-space: 1.5rem;
    --standard-width:200px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: var(--dark-blue);
    padding:10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a{
    color:white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
}
h1{
    color: darkblue;
    border-bottom: 1px solid var(--dark-blue);
}

main{
    max-width: 840px;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid var(--black);
    box-shadow: 0 0 30px gray;
    float: right;
}


p{
    padding: 0;
}

aside{
    border: 1px solid var(--black);
    padding: var(--standard-space);
    position: relative;
}

aside img{
    width: var(--standard-width);
    height: auto;
}
aside h2{
    position:absolute;
    top: 10px;
    left: 20px;
}


header, footer, .grid{
    max-width: 840px;
    margin: 0 auto;
}

footer{
    margin-top:0.5rem;
    border-top:dashed 1px var(--black);
    position: relative;
    text-align: center;
}
header{
    max-width: 840px;
    margin: 0 auto;
}
/* Class Selectors */
.box{
    margin: 1rem;
    padding: 1rem;
    background-color: var(--dark-blue);
    color:  var(--text-light);

}
.grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
