nav{
    background-color: darkblue;
    padding:10px;
}
nav a{
    color:white;
    display: block;
    padding: 20px;
}
h1{
    color: darkblue;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 0px;
}

aside{
    width: 200px;
    margin: 1.5rem;
    border: 1px solid black;
    padding: 1.5rem;
    background-color: darkblue;
    color: white;
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top:0.5rem;
    border-top:dashed 1px black;
    position: relative;
    text-align: center;
}